<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout>
        <pattern>%date{DEFAULT} {%thread} %-5level{lowerCase=false} %logger{16}#%method#L%line - %message%n</pattern>
      </PatternLayout>
    </Console>
  </Appenders>

  <Loggers>
    <Root level="debug">
      <AppenderRef ref="console" />
    </Root>
  </Loggers>

</Configuration>
